/* SellerMessages page styles */

.seller-messages-container {
  /* container styles */
}

.seller-messages-flex {
  display: flex;
  gap: 32px;
}

.seller-messages-sidebar {
  min-width: 220px;
}

.seller-messages-list {
  list-style: none;
  padding: 0;
}

.seller-messages-client-btn {
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 0.5rem 1rem;
  width: 100%;
  text-align: left;
  cursor: pointer;
  background: #7fde74ff;
}
.seller-messages-client-btn.selected {
  background: #417c41ff;
  color: #fff;
}

.seller-messages-main {
  flex: 1;
}
