@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #538E5E;
  text-decoration: inherit;
}
a:hover {
  color: #406e49;
}

body {
  margin: 0;
  min-width: 100vw;
  min-height: 100vh;
  background: #f7faf9;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #538E5E;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #538E5E;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@keyframes slideIn {
  from {
    transform: translateY(-10px);
    opacity: 0;
  }
  a:hover {
    color: #406e49;
  }
  button {
    background-color: #eaf3ec;
  }
}
