.layout {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.layout-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.layout-content {
  flex: 1;
  overflow-y: auto;
  background-color: #eaf3ec;
}

@media (max-width: 768px) {
  .layout {
    flex-direction: column;
  }
}
